@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  min-height: 100%;
  background-color: #272257;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("./assets/fonts/Raleway-SemiBold.ttf");
}
