@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  min-height: 100%;
  background-color: #272257;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}
#root {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Semibold";
  src: url("./assets/fonts/Raleway-SemiBold.ttf");
}

.diamond-star {
  position: absolute;
  width: 5px;
  height: 5px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  animation: pulse 2s infinite;

  /*clip-path: polygon(49% 12%, 65% 53%, 50% 91%, 34% 54%);*/
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0; /* Start and end with full transparency */
  }
  50% {
    opacity: 1; /* Middle point, fully visible */
  }
}

.experience {
  display: inline-block;
  box-shadow: -5px 5px 0 rgb(222, 126, 255, 0.1);
}

.blurred-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 525px;
  border-radius: 100%;
  background-color: rgba(43, 29, 75, 0.888);
  box-shadow: 0 0 80px 50px rgba(255, 255, 255, 0.5);
  filter: blur(50px);
  opacity: 0.4;
  z-index: -1;
}

.shooting_star {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear infinite;
}
.shooting_star::before {
  content: "";
  position: absolute; /* Change from absolute to fixed */
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
.shooting_star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.shooting_star:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.shooting_star:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.shooting_star:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.shooting_star:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

/*

.shooting_star:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1s;
}
.shooting_star:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1.75s;
}

.shooting_star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.shooting_star:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

.shooting_star:nth-child(10) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}
*/

/* animations */
[data-ssc="fade-up-right"] {
  animation-name: fadeUpRight;
}

[data-ssc="fade-up-left"] {
  animation-name: fadeUpLeft;
}

@keyframes fadeUpLeft {
  from {
    transform: translate3d(100px, 100px, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
